@import "./layout.css";

:root {
    --theme: #6ab6fc;
    --bdra: 10px;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: PingFang SC, Helvetica, STHeiti STXihei, Microsoft YaHei, Tohoma, Arial, sans-serif;
    font-size: 16px;
    color: #3a3a3a;
}

div {
    box-sizing: border-box;
}

.body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0 15px;    
    overflow: auto;
}

.theme-bg {
    background: var(--theme);
}

[hoverclass] {
    transition: background .3s;
}

.hoverclass {
    transform: translate3d(1px,1px,0);
}
.hoverclass-bg {
    background: rgba(106, 182, 252, .1) !important;
}

/* 列表页 */
.top {
    margin-top: 4vw;
    width: 20vw;
    height: 6vw;
    border-radius: var(--bdra);
    opacity: 0.7;
}
.top-short {
    width: 10vw;
}
.list-item {
    margin: 15px auto;
    padding: 0 10px;
    width: 90vw;
    height: 80px;
    background: #ffffff;
    border-radius: var(--bdra);
    box-shadow: 0 0 10px rgba(144, 144, 144, .15);
}

.list-avatar {
    width: 16vw;
    height: 16vw;
    border-radius: inherit;
    font-size: 30px;
}

.list-info {
    position: relative;
    align-self: flex-start;
    margin: 16px;
    width: 40vw;
    height: 5.3vw;
    border-radius: 10em;
}

.list-info::after {
    content: '';
    position: absolute;
    bottom: -140%;
    width: 40%;
    height: 70%;
    background-color: inherit;
    border-radius: inherit;
    opacity: .7;
}

/* 详情页 */
.detail-top {
    height: 87.5vw;
}

.detail-info {
    position: relative;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 16px;    
    height: 5.3vw;
    border-radius: 5px;
}

/* 首页 */
.index-router {
    padding: 0 15px;
}

.tab {
    margin: 2vw 0;
}

.tab-item {
    color: #353535;
    text-align: center;
    line-height: 2.6;
    color: #878787;
}

.tab-item:nth-child(2),
.tab-item-active {
    transform: scale(1.2);
    font-weight: bold;
    color: #3a3a3a;
}

.swiper {
    height: 26vw;
    border-radius: var(--bdra);
    box-shadow: 0 10px 10px -4px rgba(106, 182, 252, .15);
}

.cover-item {
    /* margin-bottom: 15px; */
    width: 28.4vw;
    height: 28.4vw;
    /* border-radius: 5px; */
    opacity: .95;
    /* box-shadow: 0 10px 20px -4px rgba(106, 182, 252, .5); */
}